


<mat-toolbar class="p-5" color="primary">
  <button (click)="sidenav.toggle()" mat-icon-button id="menuIcon" > <mat-icon>menu</mat-icon> </button>
  <span id="menuTitle" >Marvel DB</span>
    <div *ngFor="let item of menuItem" >
    <a routerLinkActive="active" [routerLink]="item.route" mat-button class="top-menu-item">{{item.name}}</a></div>
  </mat-toolbar>



<mat-sidenav-container >
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="50" mode="side" >
    <div class="side-nav-items" *ngFor="let item of menuItem" >
      <a routerLinkActive="active" [routerLink]="item.route" (click)="sidenav.close()" mat-button  class="side-menu-item p-3" >{{item.name}}</a> <mat-divider></mat-divider> </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div >
    <router-outlet>
  </router-outlet>
  </div>
</mat-sidenav-content>
</mat-sidenav-container>





